
<div class="card">
  <p-sidebar [(visible)]="sidebarVisible"
  [fullScreen]="true">

    <!-- Header -->
    <ng-template pTemplate="header"><span class="font-bold text-xl text-5xl">NasaApp</span></ng-template>

    <!-- Contenido de SideBar -->
    <ng-template pTemplate="content">
      <div class="grid mt-6">

        <div *ngFor="let sidebarItem of sidebarItems"
        class="col-12 md:col-6 xl:col-4">
          <nasa-card-sidebar
          [sideBarItem]="sidebarItem"
          (sidebarVisible)="sidebarClose($event)"></nasa-card-sidebar>
        </div>
      </div>

    </ng-template>

    <!-- Footer -->
    <ng-template pTemplate="footer">Footer Content</ng-template>

  </p-sidebar>

  <!-- Boton de Sidebar -->
  <button pButton
  class=""
  (click)="sidebarVisible = true"
  >
    <span class="pi-list"></span>
  </button>

  <div class="container mt-3">
    <router-outlet class="flex justify-content-center m-auto"></router-outlet>
  </div>
</div>


