
<div class="card flex">
  <p-sidebar [(visible)]="sidebarVisible"
  [fullScreen]="true">

    <!-- Header -->
    <ng-template pTemplate="header"><span class="font-bold text-xl">NasaApp</span></ng-template>

    <!-- Contenido de SideBar -->
    <ng-template pTemplate="content">
      <div class="grid">

        <div *ngFor="let sidebarItem of sidebarItems"
        class="col-12 md:col-6 xl:col-4">
          <nasa-card-sidebar [sideBarItem]="sidebarItem"></nasa-card-sidebar>
        </div>
      </div>

    </ng-template>

    <!-- Footer -->
    <ng-template pTemplate="footer">Footer Content</ng-template>

  </p-sidebar>

  <!-- Boton de Sidebar -->
  <p-button
  color="blue"
  (click)="sidebarVisible = true"
  >
    <span class="pi pi-spin pi-cog"> </span>Menu
  </p-button>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


