
<div>
  <h1>EPIC</h1>
  <h2>Earth Polychromatic Imaging Camera</h2>
</div>

<!-- Calendario -->
<div class="calendar-container">
  <p-calendar [(ngModel)]="date" class="h-3rem" dateFormat="dd/mm/yy"
    (onSelect)="updateEpic(date)" [minDate]="minDate"></p-calendar>
  <button *ngIf="!mstrIcon" class="buttonCalendar" pButton type="button" (click)="toggleGallery()">
    <span class="material-symbols-outlined h-1rem">
      photo_camera
    </span>
  </button>
  <i *ngIf="mstrIcon" class="pi pi-spin pi-spinner"></i>
</div>


<!-- Galeria para mostrar las imagenes del la fecha seleccionada -->
<div>
  <p-galleria [value]="getImages()" [(visible)]="displayGallery" [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '50%' }" [numVisible]="25" [circular]="true" [fullScreen]="true"
    [showItemNavigators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="true">

    <ng-template pTemplate="item" let-item>
      <img [src]="link + item.image + '.jpg'" style="width: 100%; display: block;" />
    </ng-template>

  </p-galleria>
</div>

<p-toast></p-toast>
