
<search-image-nasa
class="text-center"
(onDebounce)="searchMediaNasa($event)"
></search-image-nasa>


<div class="grid">
  <div *ngFor="let item of images"
  class="col-12 md:col-6 lg:col-4 xl:3">
  <nasa-card-image
  [data]="item.data"
  [link]="item.links"
  ></nasa-card-image>
  </div>
</div>

<div class="card flex justify-content-center">
  <p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="first !== undefined ? first : 0"
  [rows]="rows !== undefined ? rows : 10"
  [totalRecords]="120"
  [rowsPerPageOptions]="[10, 20, 30]">
  </p-paginator>
</div>

